.faq {
  margin-top: 40px;
  background: #ffffff;
  &__container {
    max-width: 1170px;
    margin: 0px auto;
    padding-top: 80px;
    padding-bottom: 100px;
  }
  &__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    color: #07122a;
  }
  &__tabs {
    display: flex;
    gap: 10px;
    margin: 40px 0px;
    justify-content: start;
  }
  &__tab-btn {
    padding: 10px 20px 9px;
    font-weight: 400;
    font-size: 15px;
    line-height: 140%;
    color: #7786a5;
    background: #f1f7ff;
    border-radius: 10px;
    transition: all 0.4s ease;
  }
  &__question {
    position: relative;
    display: flex;
    align-items: center;
    height: 80px;
    padding: 0px 40px;
    background: #ffffff;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: #2a344a;
    cursor: pointer;
    transition: all 0.4s ease;
    &::after {
      position: absolute;
      top: 25px;
      right: 20px;
      width: 24px;
      height: 24px;
      content: "";
      background-image: url("data:image/svg+xml,%3Csvg width='72' height='72' viewBox='0 0 72 72' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='24x24/On Light/Arrow-Right'%3E%3Cpath id='Shape' d='M54.9885 50.0115C56.3065 51.3295 58.4435 51.3295 59.7615 50.0115C61.0795 48.6935 61.0795 46.5565 59.7615 45.2385L37.2615 22.7385C35.9435 21.4205 33.8065 21.4205 32.4885 22.7385L9.98851 45.2385C8.6705 46.5565 8.6705 48.6935 9.98851 50.0115C11.3065 51.3295 13.4435 51.3295 14.7615 50.0115L34.875 29.898L54.9885 50.0115Z' fill='%232A344A'/%3E%3C/g%3E%3C/svg%3E%0A");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      transform: rotate(180deg);
      transition: all 0.4s ease;
    }
    &_active {
      background: #f1f7ff;
      &::after {
        transform: rotate(0deg);
      }
    }
  }
  &__answer {
    overflow: hidden;
    max-height: 0px;
    transition: max-height 0.4s ease-in-out;
    &-wrapper {
      display: flex;
      flex-direction: column;
      gap: 20px;
      font-weight: 400;
      font-size: 18px;
      line-height: 160%;
      color: #7786a5;
      padding: 20px 40px 40px;
      & > ul {
        list-style: disc;
        margin-top: 10px;
        margin-left: 25px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        li{
          list-style: disc;
        }
      }
    }
    &_active {
      max-height: 100vh;
    }
  }
  &__wrapper {
    display: none;
    opacity: 0;
    border: 2px solid #e1edfd;
    border-radius: 10px;
    margin-bottom: 50px;
    overflow: hidden;
    transition: all 0.4s ease;
    &_active {
      display: block;
      opacity: 1;
    }
  }
  &__inner {
    &:not(:last-child) {
      border-bottom: 2px solid #e1edfd;
    }
  }
  &__manager {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #2a344a;
    &-btn {
      color: #2551af;
    }
  }
}
.faq__tab-btn_active {
  color: #ffffff;
  background: #7786a5;
  font-size: 16px;
}
