.footer {
  margin: 40px 0px;
  background: #ffffff;
  &__container,
  &__copy {
    max-width: 1170px;
    margin: 0px auto;
  }
  &__bottom {
    border-top: 2px solid #eef1f5;
  }
  &__copy {
    display: flex;
    height: 60px;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #7786a5;
    & > span:first-child {
      display: flex;
      gap: 10px;
      margin-right: 116px;
    }
    & > span:nth-child(2) {
      line-height: 140%;
      margin-right: 108px;
    }
    & > a {
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      text-decoration-line: underline;
      color: #7786a5;
    }
  }
  &__container {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 73px;
  }
  &__logo {
    display: flex;
    align-items: center;
    height: 31px;
    font-weight: 700;
    font-size: 22px;
    line-height: 140%;
    letter-spacing: 0.1em;
    color: #46536d;
    margin-bottom: 18.5px;
    & > svg {
      margin-right: 18px;
    }
    & > i {
      color: #7786a5;
    }
  }
  &__descr {
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    color: #7786a5;
    max-width: 270px;
    margin-bottom: 39px;
  }
  &__links {
    display: flex;
    gap: 10px;
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #f1f7ff;
    border-radius: 10px;
  }
}
.blank {
  width: 100%;
  height: 1px;
  background-color: transparent;
}
