.footer {
  margin: 40px 0px;
  background: #ffffff;
  &__container,
  &__copy {
    max-width: 1170px;
    margin: 0px auto;
  }
  &__bottom {
    border-top: 2px solid #eef1f5;
  }
  &__copy {
    display: flex;
    height: 60px;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #7786a5;
    padding: 0px 20px;
    & > span:first-child {
      display: flex;
      gap: 10px;
      margin-right: 116px;
    }
    & > span:nth-child(2) {
      line-height: 140%;
      margin-right: 108px;
    }
    & > a {
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      text-decoration-line: underline;
      color: #7786a5;
      transition: all 0.3s ease;
    }
  }
  &__container {
    display: flex;
    padding: 100px 20px 73px;
  }
  &__logo {
    display: flex;
    height: 33.53px;
    margin-bottom: 18.5px;
  }
  &__descr {
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    color: #7786a5;
    max-width: 270px;
    margin-bottom: 40px;
  }
  &__links {
    display: flex;
    gap: 10px;
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: #f1f7ff;
    border-radius: 10px;
    transition: all 0.35s ease;
  }
  &__social {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    & > a:first-child {
      display: flex;
      gap: 10px;
      align-items: center;
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
      color: #46536d;
      margin-bottom: 28px;
      & > i {
        color: #7786a5;
      }
      & > span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 14px;
        height: 14px;
        border-radius: 100px;
        background-color: rgba(111, 176, 141, 0.2);
        &::after {
          content: "";
          width: 8px;
          height: 8px;
          border-radius: 100px;
          background-color: #6fb08d;
        }
      }
    }
    & > a:nth-child(2) {
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      color: #7786a5;
      margin-bottom: 63px;
    }
  }
  &__nav {
    display: flex;
    gap: 184px;
    margin-left: 128px;
    &-col {
      display: flex;
      flex-direction: column;
      gap: 30px;
      align-items: flex-start;
      & > a {
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #7786a5;
        transition: all 0.3s ease;
      }
      &:first-child {
        & > a:first-child {
          color: #2a344a;
        }
      }
    }
  }
}
.blank {
  width: 100%;
  height: 1px;
  background-color: transparent;
}

@media (max-width: 1420px) {
  .footer {
    margin: 20px 0px;
    &__container {
      justify-content: flex-start;
      max-width: 100%;
      padding: 80px 66px;
    }
    &__nav {
      gap: 80px;
      margin: 0;
      margin-left: 30px;
      &-col {
        & > a {
          font-size: 14px;
        }
      }
    }
    &__copy {
      max-width: 100%;
      justify-content: flex-start;
      padding: 0px 66px;
      font-size: 12px;
      & > a{
        margin-left: auto;
      }
      & > span:first-child,
      & > span:nth-child(2) {
        margin: 0;
      }
      & > span:first-child{
        margin-right: 58px;
      }
    }
    &__social {
      margin: 0;
      margin-left: auto;
      & > a:nth-child(2) {
        font-size: 14px;
        margin-bottom: 68px;
      }
      & > a:first-child {
        margin-bottom: 25px;
      }
    }
  }
}
@media(max-width:1100px){
  .footer__container{
    padding: 80px 20px;
  }
  .footer__copy{
    padding: 0 20px;
  }
}
@media (max-width: 1000px) {
  .footer {
    &__container {
      padding: 20px;
      flex-direction: column;
      align-items: center;
    }
    &__logo{
      margin-bottom: 21px;
    }
    &__start {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__descr {
      text-align: center;
      margin-bottom: 40px;
    }
    &__nav {
     display: none;
    }
    &__social {
      align-items: center;
      margin-top: 0px;
      margin: 0;
      & > a:first-child,
      & > a:nth-child(2) {
        margin-bottom: 0px;
      }
      & > a:first-child{
        margin-bottom: 30px;
      }
    }
    &__copy {
      flex-direction: column;
      gap: 10px;
      height: auto;
      padding: 15px;
      & > span:first-child,
      & > span:last-child,
      & > a{
        margin: 0;
      }
    }
    .parElem{
      order: -1;
      margin-bottom: 40px;
    }
  }
}
@media (min-width: 1000px) {
  .footer__nav-col > a:hover {
    color: #2a344a;
  }
  .footer__link:hover {
    background: #e1edfd;
  }
  .footer__copy > a:hover {
    color: #2a344a;
  }
}
@media (min-width: 760px){
  .footer{
    &__copy{
      & > a {
        text-align: center;
      }
    }
  }
}
.stop-scroll {
  overflow: hidden;
}
