// --- Header --- //
.header {
  width: 100%;
  background-color: #07122a;
  height: 70px;
  border-bottom: 1px solid rgba(119, 134, 165, 0.2);
  position: fixed;
  z-index: 10;
  transition: all 0.3s ease;
  &_scroll {
    height: 50px;
    .header__logo {
      height: 21.35px;
    }
  }
  &__container {
    display: flex;
    height: inherit;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 0px 40px;
    max-width: 1920px;
    margin: 0px auto;
  }
  &__logo {
    margin-right: 30px;
    height: 24px;
    flex-shrink: 0;
  }
  &__center {
    display: flex;
    width: 100%;
    justify-content: space-between;
    max-width: 1182px;
    margin-top: 3px;
  }
  &__nav {
    display: flex;
    gap: 40px;
    margin-left: 6px;
    align-items: flex-end;
    a {
      display: flex;
      align-items: center;
      gap: 10px;
      font-weight: 700;
      font-size: 12px;
      line-height: 140%;
      letter-spacing: 0.14em;
      color: #7786a5;
      text-transform: uppercase;
      transition: all 0.3s ease;
      &:first-child {
        color: #ffffff;
      }
      path {
        transition: all 0.3s ease;
      }
    }
  }
  &__end {
    display: flex;
    font-weight: 700;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: #7786a5;
    gap: 44px;
    margin-left: 20px;
    &-menu{
      display: none;
    }
  }
  &__login {
    display: flex;
    gap: 10px;
    color: #7786a5;
    transition: all 0.3s ease;
    path {
      transition: all 0.3s ease;
    }
    &-img {
      width: 17px;
      height: 17px;
    }
  }
  &__lang {
    &-inner {
      display: flex;
      gap: 11px;
      align-items: center;
      cursor: pointer;
      transition: all 0.3s ease;
      circle,
      path {
        transition: all 0.3s ease;
      }
    }
    &-img {
      width: 13px;
      height: 13px;
    }
  }
}
.burger-open{
  display: none;
}
.overlay{
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(7, 18, 42, 0.326);
  transition: all .4s ease;
  &_active{
    z-index: 1;
    opacity: 1;
  }
}
.nav__img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 17px;
  height: 17px;
}
.connect-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  font-size: 12px;
  line-height: 140%;
  letter-spacing: 0.14em;
  color: #7786a5;
  text-transform: uppercase;
  transition: all 0.3s ease;
  cursor: pointer;
  position: relative;
  path {
    transition: all 0.3s ease;
  }
  & > span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14px;
    height: 14px;
    border-radius: 100px;
    background-color: rgba(111, 176, 141, 0.2);
    margin-right: 3px;
    &::after {
      content: "";
      width: 8px;
      height: 8px;
      border-radius: 100px;
      background-color: #6fb08d;
    }
  }
}
@media(max-width:1460px){
  .header__container{
    padding: 0px 20px;
  }
  .container{
    padding: 0px 20px;
  }
}
@media(max-width:1100px){
  .header{
    &__center{
      position: fixed;
      top: 70px;
      left: -1000px;
      flex-direction: column;
      background-color: #07122a;
      width: auto;
      transition: all .4s ease;
      padding: 20px;
      gap: 20px;
      &_active{
        left: 0;
      }
    }
    &__nav{
      flex-direction: column;
      align-items: flex-start;
      margin: 0;
      gap: 20px;
    }
    &__end{
      display: none;
      margin: 0;
      gap: 20px;
      &-menu{
        display: flex;
        flex-direction: column;
      }
    }
    &_scroll{
      .header__center{
        top: 47px;
      }
    }
  }
  .burger-open{
    display: flex;
  }
}
@media (min-width: 1000px) {
  .header__nav {
    & > a:not(:first-child):hover {
      color: #ffffff;
    }
    & > a:not(:first-child):hover path {
      fill: #ffffff;
    }
  }
  .connect-btn:hover {
    color: #ffffff;
    path {
      fill: #ffffff;
    }
  }
  .header__login:hover {
    color: #ffffff;
    path {
      fill: #ffffff;
    }
  }
  .header__lang-inner:hover {
    color: #ffffff;
    circle,
    path {
      stroke: #ffffff;
    }
  }
}
