// --- info --- //
.info {
  background: linear-gradient(90deg, #ffffff 0%, #f1f7ff 100%);
  margin-top: 40px;
  padding: 100px 20px;
  min-height: 1039px;
  &__container {
    max-width: 1170px;
    margin: 0px auto;
  }
  &__title {
    font-weight: 700;
    font-size: 50px;
    line-height: 120%;
    color: #2551af;
    & > span {
      color: rgba(42, 52, 74, 1);
    }
  }
  &__wrapper {
    margin-top: 80px;
    position: relative;
  }
}
.tab {
  display: flex;
  gap: 20px;
  max-width: 570px;
  height: 70px;
  margin-bottom: 40px;
  padding-right: 30px;
  transition: all 0.3s ease;
  cursor: pointer;
  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 70px;
    height: 70px;
    border-radius: 100px;
    background-color: #f1f7ff;
    margin-top: 7px;
  }
  &__text {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 150%;
    color: #7786a5;
    margin-top: 20px;
    transition: all 0.3s ease;
  }
  &__descr {
    display: none;
    opacity: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #2a344a;
    transition: all 0.3s ease;
  }
  &-content {
    display: flex;
    position: absolute;
    visibility: hidden;
    max-width: 500px;
    opacity: 0;
    top: 0;
    right: 0;
    transform: scale(0.7);
    transition: all 0.5s ease;
  }
}

.adviser {
  gap: 29px;
  top: -91px;
  right: -2px;
  &__col {
    display: flex;
    flex-direction: column;
    gap: 28px;
    &:last-child {
      margin-top: 90px;
    }
  }
  &__card {
    display: flex;
    flex-direction: column;
    max-width: 230px;
    gap: 10px;
    background: #ffffff;
    box-shadow: 5px 10px 20px rgba(7, 18, 42, 0.15);
    border-radius: 10px;
    padding: 10px;
  }
  &__img {
    margin: 0px auto;
    width: 210px;
    height: 210px;
    border-radius: 10px;
    background-color: #f1f7ff;
  }
  &__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #2a344a;
  }
  &__descr {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 400;
    font-size: 13px;
    line-height: 140%;
    & > p {
      color: #7786a5;
    }
    & > span {
      color: #2551af;
    }
  }
}

.catalog {
  top: -89px;
  &__wrap {
    width: 500px;
    height: 779px;
    img{
      height: 100%;
    }
  }
}

.transaction {
  top: -83px;
  &__wrap {
    width: 500px;
    height: 779px;
    img{
      height: 100%;
    }
  }
}

.invest {
  top: -86px;
  &__wrap{
    width: 500px;
    height: 779px;
    img{
      height: 100%;
    }
  }
}
.path-hover {
  transition: all 0.3s ease;
}
.tab_active {
  background-color: #f1f7ff;
  border-radius: 10px;
  height: 149px;
  cursor: default;
  .tab__descr {
    display: block;
    opacity: 1;
  }
  .tab__title {
    color: #2a344a;
  }
  .path-hover {
    stroke: #2a344a;
  }
}
.tab-content_active {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}
@media(max-width:1050px){
  .tab{
    &__title{
      font-size: 22px;
    }
  }
}
@media (min-width: 1000px) {
  .tab:hover {
    .tab__title {
      color: #2a344a;
    }
    .path-hover {
      stroke: #2a344a;
    }
  }
}
