//  --- OFFER -- //
.offer {
  position: relative;
  padding: 0 20px;
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: clip;
  &__background {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 1648px;
    background: linear-gradient(
      180deg,
      #07122a 3.46%,
      rgba(7, 18, 42, 0) 99.21%
    );
    z-index: -1;
  }
  &__title {
    margin: 0px auto;
    max-width: 970px;
    font-weight: 700;
    font-size: 50px;
    line-height: 120%;
    text-align: center;
    color: #ffffff;
    margin-bottom: 41px;
  }
  &__descr {
    margin: 0px auto;
    max-width: 570px;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #e1edfd;
    margin-bottom: 41px;
  }
  &__link {
    display: flex;
    align-items: center;
    gap: 9px;
    height: 50px;
    padding: 0px 20px;
    background: #2c5dc9;
    border-radius: 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #eef1f5;
    transition: all 0.3s ease;
  }
  &__graph {
    position: absolute;
    bottom: -277px;
    left: 0;
    z-index: 1;
    pointer-events: none;
    & > img {
      width: 100%;
      height: 100%;
      pointer-events: none;
    }
  }
}
@media (max-width: 1420px) {
  .offer {
    &__title {
      font-size: 40px;
      max-width: 780px;
    }
    &__descr {
      font-size: 18px;
    }
    &__graph {
      bottom: -209px;
    }
  }
}
@media (max-width: 1000px) {
  .offer {
    &__title {
      font-size: 32px;
      margin-bottom: 50px;
      max-width: 511px;
    }
    &__descr {
      font-size: 18px;
      margin-bottom: 50px;
      max-width: 511px;
    }
  }
}
@media (max-width: 670px) {
  .offer {
    padding-top: 171px;
    &__graph {
      bottom: 41%;
      left: -790px;
      width: 1200px;
    }
  }
}
@media (min-width: 1000px) {
  .offer__link:hover {
    background: #2551af;
  }
}
