// --- result --- //
.result {
  background: linear-gradient(90deg, #f1f7ff 0%, #ffffff 100%);
  margin-top: 40px;
  position: relative;
  &::after {
    position: absolute;
    content: "";
    height: 102px;
    width: 26px;
    top: 230px;
    left: 40px;
    background-color: #e1edfd;
    border-radius: 26px;
  }
  &::before {
    position: absolute;
    content: "";
    height: 102px;
    width: 26px;
    top: 37px;
    right: 47px;
    background-color: rgba(241, 247, 255, 1);
    border-radius: 26px;
  }
  &__decor {
    position: absolute;
    content: "";
    height: 102px;
    width: 26px;
    top: 126px;
    right: 118px;
    background-color: rgba(241, 247, 255, 1);
    border-radius: 26px;
  }
  &__wrapper {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    gap: 80px;
  }
  &__col {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 106px 0px;
    width: 220px;
    gap: 20px;
    &:not(:first-child)::after {
      position: absolute;
      content: "";
      top: 10px;
      left: -30px;
      width: 1px;
      height: 155px;
      background: #e1edfd;
    }
  }
  &__num {
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    color: #2551af;
  }
  &__descr {
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #2a344a;
  }
}

@media (max-width: 1420px) {
  .result {
    padding: 60px 66px;
    margin-top: 20px;
    &::after,
    &::before {
      display: none;
    }
    &__decor {
      display: none;
    }
    &__wrapper{
      max-width: 100%;
      justify-content: space-between;
      gap: 60px;
    }
    &__descr{
      font-size: 14px;
    }
    &__col{
      width: 100%;
      margin: 0;
      &:not(:first-child)::after{
        height: 100%;
        top: 0;
      }
    }
  }
}
@media(max-width:1100px){
  .result{
    padding: 60px 17px;
  }
}

