// --- subscribe --- //
.subscribe {
  margin-top: 150px;
  background: linear-gradient(90deg, #ffffff 0%, #f1f7ff 100%);
  height: 900px;
  overflow: hidden;
  padding: 0px 66px;
  &__wrapper {
    display: grid;
    grid-template-columns: 470px 600px;
    gap: 100px;
    width: max-content;
    margin: 0 auto;
    height: 100%;
  }
  &__title {
    font-weight: 700;
    font-size: 50px;
    line-height: 120%;
    color: rgba(7, 18, 42, 1);
    margin-top: 220px;
    margin-bottom: 50px;
    & > i {
      color: #2551af;
    }
  }
  &__descr {
    max-width: 370px;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #2a344a;
    &:nth-child(3) {
      margin-top: 10px;
    }
  }
  &__btn {
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 13px 20px;
    background: #2551af;
    border-radius: 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #eef1f5;
    transition: all 0.3s ease;
  }
  &__form {
    position: relative;
    width: 370px;
    height: 60px;
    margin-top: 50px;
    & > input {
      width: 100%;
      height: 100%;
      font-weight: 400;
      font-size: 16px;
      line-height: 160%;
      color: #2a344a;
      padding: 17px 20px;
      padding-right: 170px;
      background: #f1f7ff;
      border-radius: 10px;
      transition: all 0.3s ease;
      border: 2px solid transparent;
    }
  }
  &__slider {
    height: 100%;
  }
}
.slider {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  height: 100%;
  position: relative;
  &__col {
    display: flex;
    flex-direction: column;
    gap: 30px;
    transform: translateY(0);
    align-items: center;
    animation: slider 50s linear infinite;
    &:first-child {
      margin-top: 32px;
    }
    &:nth-child(2) {
      margin-top: 112px;
    }
  }
  &__card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 180px;
    height: 230px;
    padding: 20px 15px;
    background: #ffffff;
    box-shadow: 5px 10px 20px rgba(42, 52, 74, 0.15);
    border-radius: 10px;
    &-title {
      padding: 1px 7px;
      font-weight: 500;
      font-size: 10px;
      text-transform: uppercase;
      line-height: 132%;
      color: #ffffff;
      background: #7786a5;
      border-radius: 50px;
      margin-bottom: 11px;
    }
    &-descr {
      display: flex;
      flex-direction: column;
      font-weight: 500;
      font-size: 13px;
      line-height: 140%;
      color: #2a344a;
      & > div {
        font-weight: 400;
        font-size: 11px;
        line-height: 132%;
        color: #7786a5;
        margin-top: 10px;
        & > i {
          color: rgba(42, 52, 74, 1);
        }
      }
    }
    &-price {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-top: auto;
      font-weight: 400;
      font-size: 13px;
      line-height: 132%;
      color: #7786a5;
      i {
        color: rgba(37, 81, 175, 1);
      }
    }
  }
}
@keyframes slider {
  100% {
    transform: translateY(-650px);
  }
}

@media (max-width: 1420px) {
  .subscribe {
    height: 700px;
    margin-top: 122px;
    &__wrapper {
      grid-template-columns: 380px 1fr;
      grid-template-columns: 380px 1fr;
      justify-content: space-between;
      width: 100%;
    }
    &__title{
      margin-top: 126px;
      font-size: 40px;
    }
    &__descr{
      font-size: 18px;
    }
  }
  .slider {
    &__col:last-child {
      display: none;
    }
  }
} 
@media (max-width: 1100px){
  .subscribe{
    padding: 0px 20px;
  }
}
@media (max-width: 1000px){
  .subscribe{
    height: auto;
    &__wrapper{
      display: flex;
      flex-direction: column;
    }
    &__slider{
      order: -1;
      margin-top: 40px;
    }
    &__title{
      margin-top: 0;
      font-size: 32px;
    }
    &__descr{
      max-width: 100%;
      font-size: 16px;
    }
    &__start{
      margin: 0 auto; 
      margin-bottom: 100px;
      max-width: 511px;
    }
  }
  .slider{
    display: flex;
    justify-content: flex-start;
    &__col{
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      flex-wrap: nowrap;
      &:first-child{
        margin-top: 0;
      }
      &:nth-child(2){
        margin: 0;
      }
      &:last-child{
        display: flex;
      }
    }
  }
  @keyframes slider {
    100% {
      transform: translateX(-1800px);
    }
  }
}
@media (min-width: 1000px) {
  .subscribe {
    &__form:hover {
      & > input {
        background-color: #e1edfd;
      }
      & > input + .subscribe__btn {
        background: #295bc9;
      }
    }
  }
}

.subscribe__form {
  & > input:focus {
    border: 2px solid #7786a5;
    background: linear-gradient(90deg, #ffffff 0%, #f1f7ff 100%);
    & + .subscribe__btn {
      background: #2551af;
    }
  }
}
