// --- subscribe --- // 
.subscribe {
  margin-top: 150px;
  background: linear-gradient(90deg, #ffffff 0%, #f1f7ff 100%);
  height: 900px;
  overflow: hidden;
  &__wrapper {
    display: grid;
    grid-template-columns: 470px 600px;
    gap: 100px;
    width: max-content;
    margin: 0 auto;
    height: 100%;
  }
  &__title {
    font-weight: 700;
    font-size: 50px;
    line-height: 120%;
    color: rgba(7, 18, 42, 1);
    margin-top: 220px;
    & > i {
      color: #2551af;
    }
  }
  &__descr {
    max-width: 370px;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #2a344a;
    margin-top: 50px;
    &:nth-child(3) {
      margin-top: 10px;
    }
  }
  &__btn {
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 13px 20px;
    background: #2551af;
    border-radius: 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #eef1f5;
    transition: all 0.3s ease;
  }
  &__form {
    position: relative;
    width: 370px;
    height: 60px;
    margin-top: 50px;
    & > input {
      width: 100%;
      height: 100%;
      font-weight: 400;
      font-size: 16px;
      line-height: 160%;
      color: #2a344a;
      padding: 17px 20px;
      padding-right: 170px;
      background: #f1f7ff;
      border-radius: 10px;
      transition: all 0.3s ease;
      
    }
  }
  &__slider {
    height: 100%;
  }
}
.slider {
  display: flex;
  gap: 30px;
  height: 100%;
  position: relative;
  &__col {
    display: flex;
    flex-direction: column;
    gap: 30px;
    transform: translateY(0);
    &:first-child{
      animation: slider 50s linear infinite;
      margin-top: 32px;
    }
    &:nth-child(2){
      animation: slider 50s linear infinite;
      margin-top: 112px;
    }
    &:last-child{
      animation: slider 50s linear infinite;
    }
  }
  &__card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 180px;
    height: 230px;
    padding: 20px 15px;
    background: #ffffff;
    box-shadow: 5px 10px 20px rgba(42, 52, 74, 0.15);
    border-radius: 10px;
    &-title {
      padding: 1px 7px;
      font-weight: 500;
      font-size: 10px;
      line-height: 132%;
      color: #ffffff;
      background: #7786a5;
      border-radius: 50px;
      margin-bottom: 11px;
    }
    &-descr {
      display: flex;
      flex-direction: column;
      font-weight: 500;
      font-size: 13px;
      line-height: 140%;
      color: #2a344a;
      & > div {
        font-weight: 400;
        font-size: 11px;
        line-height: 132%;
        color: #7786a5;
        margin-top: 10px;
        & > i {
          color: rgba(42, 52, 74, 1);
        }
      }
    }
    &-price {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-top: auto;
      font-weight: 400;
      font-size: 13px;
      line-height: 132%;
      color: #7786a5;
      i {
        color: rgba(37, 81, 175, 1);
      }
    }
  }
}
@keyframes slider{
  100%{
    transform: translateY(-750px);
  }

}
@media (min-width: 1000px) {
  .subscribe {
    &__form:hover {
      & > input {
        background-color: #e1edfd;
      }
      & > input + .subscribe__btn {
        background: #295bc9;
      }
    }
  }
}

.subscribe__form{
  & > input:focus{
    border: 2px solid #7786a5;
    background: linear-gradient(90deg, #ffffff 0%, #f1f7ff 100%);
    & + .subscribe__btn {
      background: #2551af;
    }
  }
}